mmengine
torch
numpy
tabulate
tqdm
setuptools
requests
httpx[http2]
importlib_metadata
openai
jieba
datasets
evaluate
scikit-learn
transformers
nltk==3.8
rouge_score
sacrebleu
scipy
absl-py
six
packaging
prettytable
